html {
  position: fixed; margin-top: 3%; margin-left: 5%;
  margin-right: 5%; margin-bottom: 5%; text-align: center;
  top:0;bottom: 0;left: 0;right: 0;
}

body {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome 6.0+, Safari 3.1+, Edge & Opera 15+ */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE 10+ and Edge */
  -user-select: none;           /* Non-prefixed version,*/
}
a, a:visited, a:hover, a:active {
  color: inherit;
}
h1 {font-size:50px; text-align: center;}
.zoom1 {
  padding: 10px;
  transition: transform .3s; /* Animation */
  width: 200px;
  height: 200px;
}
.yakin{
  transition: transform .9s; /* Animation */
}
.yakin:hover {
  transform: scale(1.2)
}
.zoom1:hover {
  transform: scale(1.2) rotate(10deg);
}
.zoom {
  padding: 10px;
  transition: transform .3s; /* Animation */
  width: 200px;
  height: 200px;
}

.zoom:hover {
  transform: scale(1.2) rotate(-10deg);
}
.w3-btn,.w3-button{border:black;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:#d4aa11;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.w3-btn:hover{ background-color:black;transform: scale(1.1); box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.w3-btn,.w3-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.w3-disabled,.w3-btn:disabled,.w3-button:disabled { cursor:not-allowed;opacity:0.3}.w3-disabled *,:disabled *{pointer-events:none}
.w3-btn,.w3-disabled:hover,.w3-btn:disabled:hover{background-color: black;box-shadow:none;}



nav table {
    list-style-type: none;
    padding: 2em;
    align-self: center;
    align-content: center;
    align-items: center;
    justify-content: center;
}

nav table td {
    --c: black;
    color: var(--c);
    font-size: 16px;
    border: 0.3em solid var(--c);
    border-radius: 0.5em;
    width: 12em;
    height: 3em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 3em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin: 1em;
}

nav table td span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

nav table td:hover {
    color: #d4aa11;
}

nav table td:hover span {
    transform: translateY(0) scale(2);
}

nav table td span:nth-child(1) {
    --n: 1;
}

nav table td span:nth-child(2) {
    --n: 2;
}

nav table td span:nth-child(3) {
    --n: 3;
}

nav table td span:nth-child(4) {
    --n: 4;
}

.footer
{
  position: fixed; left: 0;bottom: 0;
  background:#222222;
  width:100%; height:25%;float:left;
  color:white; font-family:arial;
}
.footer .footer-bottom {
  position: fixed; left: 0;bottom: 0;
  background:#222222;
  width:100%; height:3%;float:left;
  color:white; font-family:arial;
  background:#222222;
}

.footer .footer-section {
  
}
.footer .footer-content {
  height: 25%;
  display: flex;
}
.footer .footer-content .footer-section
{
  flex: 1;
  padding: 25px;
}